<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="DC" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/devicecontrol.log</File>
    <encoder>
      <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>../logs/devicecontrol.log.%d{yyyy-MM-dd}</fileNamePattern>
    </rollingPolicy>
  </appender>
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/vod.log</File>
    <encoder>
      <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    <fileNamePattern>../logs/vod.log.%d{yyyy-MM-dd}</fileNamePattern>
    </rollingPolicy>
  </appender>
  <logger name="org.springframework" level="error"/>
  <logger name="com.cn.hnust.pojo" level="error"/>
  <logger name="jdbc.connection" level="OFF"/>
  <logger name="com.cn.hnust.dao" level="error"/>
  <logger name="com.cn.hnust.controller" level="debug">
    <appender-ref ref="DC"/>
  </logger>
  <logger name="org.apache" level="error"/>
  <logger name="jdbc.resultset" level="OFF"/>
  <logger name="com.cn.hnust.servlet" level="warn"/>
  <logger name="org.hibernate" level="error"/>
  <logger name="jdbc.audit" level="OFF"/>
  <logger name="com.cn.hnust.service.impl" level="error"/>
  <logger name="jdbc.sqlonly" level="INFO"/>
  <logger name="jdbc.sqltiming" level="DEBUG"/>
  <logger name="org.quartz.simpl" level="error"/>
  <root level="info">
    <appender-ref ref="Console"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>