<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd  
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!-- Spring-Security 的配置 -->
	<!-- 注意开启use-expressions.表示开启表达式. see:http://www.family168.com/tutorial/springsecurity3/html/el-access.html -->
	<!-- 只有用户“xiao”才能允许访问URL：/main/admin -->
	<!-- 角色用户可登陆页面 /main/common:所有人可以访问。 /main/admin：系统管理员 -->
	<!-- <security:http auto-config="true">
	相当于：默认引入了
			<security:form-login />
		<security:http-basic />
		<security:logout />
	 -->
	<security:http >
		<security:form-login login-processing-url="/static/j_spring_security_check"  login-page="/auth/login" authentication-failure-url="/auth/error"/>
		<security:http-basic />
		<security:logout />
		<!-- security:intercept-url  是有顺序的，顺序是自上而下，只要找到一个就会拦截，底下的就不起作用。-->
		
		<security:intercept-url pattern="/main/admin"
			access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/main/common"
			access="permitAll" />
		<security:intercept-url pattern="/auth/login"
			access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/rest/say"
			access="hasRole('ROLE_USER')" />
		<!-- 如果还有地层路径，也需要写出来。 -->
		<security:intercept-url pattern="/rest/user/*"  
			access="hasRole('ROLE_ADMIN')" />
	</security:http>
	<security:authentication-manager>
		<security:authentication-provider>
			<!-- 1.基础用户 -->
			<security:user-service>
				<security:user name="xiao" password="abc" authorities="ROLE_USER" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
</beans>  